<menu></menu>
<main role="main" class="container">

    <div class="goals-template">
        <h2>Creating a Goal</h2>

        <form class="mt-4" ng-submit="submit()" ng-show="!isSuccess">
            <div class="form-group">
                <label for="goal-name">Name</label>
                <input ng-model="goal.name" type="text" class="form-control" id="goal-name" placeholder="Goal Name" required autofocus>
            </div>
            <div class="form-group">
                <label for="target-date">Target Date</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <input ng-model="goal.targetDate" type="text" class="form-control" id="target-date" placeholder="Desired Date For Achieving The Goal"
                        required>
                </div>
            </div>
            <div class="form-group">
                <label for="total-cost">Total Cost</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="input-group-addon">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <input ng-model="goal.totalCost" type="text" class="form-control" id="total-cost" placeholder="Total Cost Of This Goal" required>
                </div>
            </div>
            <ul class="nav justify-content-end my-4">
                <li class="nav-item">
                    <button ng-click="cancel()" type="button" class="btn btn-secondary mx-2">Cancel</button>
                </li>
                <li class="nav-item">
                    <button type="submit" class="btn btn-primary ml-2">Create Goal</button>
                </li>
            </ul>
        </form>

    </div>
</main>
<div id="response">
    <div id="response-error" ng-show="isError">
        <div class="alert alert-danger text-center">
            <strong>Error:</strong> {{message}}
        </div>
    </div>
    <div id="response-success" ng-show="isSuccess">
        <div class="alert alert-success">
            <strong>Success:</strong> {{message}}
        </div>
        <div>
            <p class="mx-5 my-5">
                <strong>Congratulations</strong>, you just create a new goal, now you can
                <a href="/app/home">go to the home page</a> or
                <a href="/app/goals/{{goal._id}}/budgets/create">create a new budget</a> for this goal.
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //masking targer date input
        $('#target-date').datepicker({
            orientation: "bottom auto",
            autoclose: true,
            todayHighlight: true
        });

        //masking total cost input
        $('#total-cost').mask("#.##0,00", { reverse: true });
    });
</script>