<menu></menu>
<main role="main" class="container" ng-show="!isError && !removed">

    <div class="goals-template">
        <h2>{{goal.name}}</h2>

        <div class="my-5 mx-5">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/app/goals/{{goal._id}}/budgets/create">
                        <i class="fa fa-plus mr-1" aria-hidden="true" />Create a New Budget
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app/goals/{{goal._id}}/edit">
                        <i class="fa fa-pencil mr-1" aria-hidden="true" />Edit This Goal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#modal-remove-goal">
                        <i class="fa fa-trash-o mr-1" aria-hidden="true" />Remove This Goal
                    </a>
                </li>
            </ul>
        </div>

        <div class="my-5 mx-5">
            <div class="row mb-5">
                <div class="col">
                    <h3>Goal Status</h3>
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar" role="progressbar" style="width: {{goal.percentBar}}%;" aria-valuenow="{{goal.percentBar}}" aria-valuemin="0"
                            aria-valuemax="100">{{goal.percentBar}}%</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>General Information</h3>
                    <table class="table">
                        <tr>
                            <th scope="row">Create Date</th>
                            <td>{{goal.createDate | date : format : timezone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Target Date</th>
                            <td>{{goal.targetDate | date : format : timezone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Cost</th>
                            <td>{{goal.totalCost | currency : 'R$ '}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <h3>Budget Information</h3>
                    <table class="table">
                        <tr>
                            <th scope="row">Total Expected Budget</th>
                            <td>{{goal.expectedBudget | currency : 'R$ '}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Cash Budget</th>
                            <td>{{goal.cashBudget | currency : 'R$ '}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total Budget</th>
                            <td>{{goal.totalBudget | currency : 'R$ '}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Pending Budget</th>
                            <td>{{goal.pendingBudget | currency : 'R$ '}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Budgets</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Expected Date</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="budget in budgets">
                                <td>{{budget.description}}</td>
                                <td>{{budget.amount | currency : 'R$ '}}</td>
                                <td>{{budget.expectedDate | date : format : timezone }}</td>
                                <td>{{budget.status == 0 ? 'Expected' : 'Received'}}</td>
                                <td>
                                    <a class="nav-link" href="/app/goals/{{goal._id}}/budgets/{{budget._id}}/edit">
                                        <i class="fa fa-pencil mr-1" aria-hidden="true" />
                                    </a>
                                </td>
                                <td>
                                    <a class="nav-link" href="#" ng-click="setSelectedBudget(budget)" data-toggle="modal" data-target="#modal-remove-budget">
                                        <i class="fa fa-trash-o mr-1" aria-hidden="true" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" id="modal-remove-goal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">{{goal.name}} will be removed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="removeGoal()">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-remove-budget" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">The budget {{selectedBudget.description}} will be removed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="removeBudget()">Yes</button>
            </div>
        </div>
    </div>
</div>





<div id="response" class="my-5 mx-5">
    <div id="response-error" ng-show="isError">
        <div class="alert alert-danger text-center">
            <strong>Error:</strong> {{message}}
        </div>
    </div>
    <div id="response-error" ng-show="removed">
        <div class="alert alert-success text-center">
            {{goal.name}} has been removed,
            <a href="/app/home">return to the home page</a>
        </div>
    </div>
</div>