<menu></menu>
<main role="main" class="container">

    <div class="starter-template" ng-show="!goals.length">
        <h1>Welcome</h1>
        <p class="lead">You have no goal so far,
            <br/>Create your first now</p>
        <a href="/app/goals/create" class="btn btn-success">Create Goal</a>
    </div>

    <div class="goals-template" ng-show="goals.length > 0">

        <h2>Your Goals</h2>

        <div>
            <ul class="nav">
                <li class="nav-item">
                    <div class="form-group mt-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                            <input ng-model="filterParam" ng-model-options="{debounce: 500}" class="form-control" type="text" placeholder="Find a Goal"
                                aria-label="Search">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/app/goals/create">Create a New Goal</a>
                </li>
            </ul>
        </div>

        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Create Date</th>
                    <th>Target Date</th>
                    <th>Total Cost</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goal in goals | filter: filterParam ">
                    <td>{{goal.name}}</td>
                    <td>{{goal.createDate | date : format : timezone }}</td>
                    <td>{{goal.targetDate | date : format : timezone }}</td>
                    <td>{{goal.totalCost | currency : 'R$ '}}</td>
                    <td>
                        <a href="/app/goals/{{goal._id}}">
                            <i class="fa fa-plus " aria-hidden="true "></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>